$mainColor: rgb(118, 118, 118);

.todolist {
   padding: 20px;
   width: 300px;

   .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 10px;
   }
}

.listEl, .sortButton {
   display: flex;
   justify-content: space-between;
}

.sortButton {
   margin-top: 10px;
}

.isDone {
   opacity: 0.5;
}

.activeFilter {
   background-color: $mainColor;
   color: #fff;
   border: none;
}
