.todolist {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    border-radius: 8px;
    padding: 20px;
}

.input, .sortButton {
    display: flex;
    justify-content: space-between;
}
.list {
    padding: 0;
    margin: 10px 0;
}

.list li {
    margin: 10px 0;
}

.button {
    margin-left: 10px;
}