$mainColor: rgb(118, 118, 118);

.todolist {
   box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
   border-radius: 8px;
   padding: 20px;
   margin-right: 20px;
   margin-left: 20px;
   margin-bottom: 20px;

   .title {
      display: flex;
      justify-content: space-between;
   }
}

.listEl, .sortButton {
   display: flex;
   justify-content: space-between;
}

.list {
   padding: 0;
   margin: 10px 0;

   li {
      margin: 10px 0;
   }

   .isDone {
      opacity: 0.5;
   }
}

.activeFilter {
   background-color: $mainColor;
   color: #fff;
   border: none;
}
